# Large dataset files
*.csv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# Editor files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints 